@charset "UTF-8";


.hotesse{
    width:100%;
    background-color:white;
    text-align: center;
    color:black;
    margin-top: 3px;
    height: 40%;
}
.barman{
    width:100%;
    background-color:blue;
    text-align: center;
    color:white;
    margin-top: 3px;
    height: 40%;
}
.superviseur{
    width:100%;
    background-color:violet;
    text-align: center;
    color:black;
    margin-top: 3px;
    height: 40%;
}
.commis{
    width:100%;
    background-color:burlywood;
    text-align: center;
    color:white;
    margin-top: 3px;
    height: 40%;
  
}
tr{
    height: 20%;
}
.titre{
    padding-left: 60px !important;
}
.nom{
    padding-left: 45px !important;  
}
.type{
    padding-left: 78px !important;   
}
.widget-subheading{
    color: white !important;
    font-size: 15px;

}
.hot{
    color: black !important; 
    font-size: 15px;
}
.hotessWidegets{
    color: black !important;
}
.coordonnateur{
    width:100%;
    background-color:green;
    text-align: center;
    color:white;
    margin-top: 3px;  
    border-radius: 3px;
    height: 40%;
}