@charset "UTF-8";

.badge-danger{
   margin-top: 5px;
   width: 75px;
   height: 18px;

}
.badge-success{
    /* margin-top: 5px;
    width: 75px;
    height:27px; */
}

.faTrash{
    color:red;
    margin-top: 8px !important;
}

.employeslist:hover {
    background-color: #f9748f ;
    cursor: pointer;    
}
