@charset "UTF-8";


.ajouter{
   margin-left: 1000px;
   margin-top: -20px;
}
span{
    color:black;

}
.switch-wrapper {
    position: relative;
  }
   
  .switch-wrapper > div {
    position: absolute;
  }
 