@charset "UTF-8";

.showPlanning{
    margin-top: 20px;
}
.hotesse{
    width:100%;
    background-color:white;
    text-align: center;
    color:black;
    margin-top: 3px;
    border-radius: 3px;
}
.barman{
    width:100%;
    background-color:#0000ff;
    text-align: center;
    color:white;
    margin-top: 3px;
    border-radius: 3px;
}

.border{
    border-color: red;
}
.coordonnateur{
    width:100%;
    background-color:green;
    text-align: center;
    color:white;
    margin-top: 3px;  
    border-radius: 3px;
}
.superviseur{
    width:100%;
    background-color:#ee82ee;
    text-align: center;
    color:black;
    margin-top: 3px;
    border-radius: 3px;
    
}
.superviseurD{
    background-color:violet;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: 3px;
    
}
.date{
  width: 250px;
  height: 37px;
}
.btn-info{
    margin-top: -5px !important;
}
.titre{
    margin-top: -4px !important;
}
.moisProchainPred{
    margin-top: -0px;
    margin-left: 72%; 
}
.barmanD{
    background-color:blue;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: 3px;
    
}
.commisD{
    background-color:burlywood;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: 3px;
    
}
.hotesseD{
    background-color:white;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: 3px;
    
}
.coordonnateurD{
    background-color:green;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: 3px;
    
}
.zoneA{
    border-color: red;
    border-width:2px;
    border-style:solid;
}
.zoneB{
    border-color: gold;
    border-width:2px;
    border-style:solid;
}

.zoneAD{
    background-color: red;
    widows:20px;
    height: 15px;
    width: 50px;
    margin-top: -3px;
}
.zoneBD{
    background-color:gold;
    width: 50px;
    height: 15px;
    margin-top: 3px;
}
.zoneAD{
    background-color: red;
    width: 50px;
    height: 15px;
    margin-top: 3px;
}
.diagramme{
    margin-top: 35px;
}
.zoneTamponD{
    background-color: black;
    width: 50px;
    margin-top: 3px;
    height: 15px;
}
.nomZone{
    margin-top: -2px;
}
.zoneTampon{
    border-color:black;
    border-width:2px;
    border-style:solid;
}
.commis{
    width:100%;
    background-color:#deb887;
    text-align: center;
    color:white;
    margin-top: 3px;
    border-radius: 3px;
  
}
.horaire{
    text-align: center;
    padding-top: 50px;
}
h1{
    text-align: center;
}
div.row{
    margin-top: -5px;
}
.col-md-11{
  text-align: center;
}

.btn-block{
    color: black;
    font-size: 15px;
    
}
::ng-deep.styleModal{
 z-index: 2000;
}
.zoneTampon:hover{
        cursor: pointer;
}
.zoneA:hover{
    cursor: pointer;
}
.zoneB:hover{
    cursor: pointer;
}