.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 135vh;  */
    /* background-color: #495057; */
    /* margin-top: -1000px; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* margin-left: 600px; */
    z-index: 1500;
    position: absolute;

}
