.profile{
    width: 55vw;
    margin-left: 200px;
}
label{
    /* margin-top: 3px; */
}
.errorPassword{
    color: red;
}
.cardProfile{
    margin-top: 25px !important;
}
.but{
    margin: auto;
}
.admin{
    margin-left: 10px;
    width: 98%;
}
.inp{
    width: 100% !important;
}
.lab{
  margin: 5px;
}
